.auth {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.authContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 32px;
  border-radius: 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.authContainer h1 {
  font-weight: 400;
}

.authContainer form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.authContainer form .formGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.authContainer form .formGroup label {
  font-size: 14px;
  font-weight: 500;
}

.authContainer form .formGroup input {
  padding: 16px;
  border-radius: 16px;
  border: 2px solid #e0e0e0;
}

.authContainer button {
  padding: 16px;
  border-radius: 32px;
  border: none;
  background-color: #e50829;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.authContainer form p {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.error {
  color: #e50829;
  font-size: 14px;
  font-weight: 500;
}
